
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* Shared Styles */
.text-primary {
    color: #FD6E0A;
}

.dark-1 {
    color: #181818;
}

.dark-2 {
    color: #474747;
}

.secondary-bg {
    background-color: #fff8f3;
}

.btn-primary {
    background-color: #FD6E0A;
    font-weight: bold;
    font-size: 20px;
    color: white;
    padding: 18px 35px;
    border: none;
    border-radius: 5px;
}

.section-title {
    color: #181818;;
    font-size: 35px;
    font-weight: bold;
}

.section-description {
    font-size: 18px;
    color: #757575;
}

.contact-btn {
    background-color: white;
    color: #FD6E0A;
    font-weight: bold;
    font-size: 20px;
    padding: 18px 35px;
    border-color: #FD6E0A;
    border-radius: 5px;
    margin-left: 30px;
}

.text-center {
    text-align: center;
    padding: 0px 130px;
}

/* Header */
.header {
    background-image: url('../images/developer.png'), url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: left, bottom right;
}

/* Nav Styles */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}

nav ul {
    display: flex;
    align-items: center;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

nav ul li {
    list-style: none;
    margin-right: 51px;
}

nav li a { 
    text-decoration: none; 
    font-size: 20px;
}

/* Banner Styles */
.banner {
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;
}

.banner-content {
    max-width: 585px;
    max-height: 356px;
}

.banner-greetings {
    font-weight: 600;
    font-size: 45px;
    margin-top: 150px;
    margin-bottom: 0px;
}

.banner-title {
    font-size: 85px;
    font-weight: bold;
    margin: 0px;
    margin-bottom: 0px;
}

.banner-dp {
    width: 584px;
    height: 676px;
}

/* Main Styles */
main {
    max-width: 1140px;
    margin: 0 auto;
}

main section {
    margin-top: 130px;
    margin-bottom: 130px;
}

/* About Styles */
.about {
    background-color: #fff8f3;
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
}

.about-box {
    background-color: white;
}

.about-items {
    display: flex;
    justify-content: space-around;
}
.item-description {
    font-weight: 600;
}

.skills-container {
    display: flex;
    gap: 24px;
}

.skill {
    padding: 30px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

/* Resume Styles */
.resume-container {
    display: flex;
    gap: 24px;
}

.resume-column-title {
    font-size: 30px;
    font-weight: bold;
}

.experience-title {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
}

.experience-subtitle {
    color: #757575;
    font-size: 20px;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 0px;
}

.resume-download-cv {
    margin-top: 60px;
}
