
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* Shared Styles */
.text-primary {
    color: #FD6E0A;
}

.dark-1 {
    color: #181818;
}

.dark-2 {
    color: #474747;
}

.secondary-bg {
    background-color: #fff8f3;
}

.btn-primary {
    background-color: #FD6E0A;
    font-weight: bold;
    font-size: 20px;
    color: white;
    padding: 18px 35px;
    border: none;
    border-radius: 5px;
}

.section-title {
    color: #181818;;
    font-size: 35px;
    font-weight: bold;
}

.section-description {
    font-size: 18px;
    color: #757575;
}

.contact-btn {
    background-color: white;
    color: #FD6E0A;
    font-weight: bold;
    font-size: 20px;
    padding: 18px 35px;
    border-color: #FD6E0A;
    border-radius: 5px;
    margin-left: 30px;
}

/* Header */
.header {
    background-image: url('../images/developer.png'), url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}

/* Nav Styles */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}

nav ul {
    display: flex;
    align-items: center;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

nav ul li {
    list-style: none;
    margin-right: 51px;
}

nav li a { 
    text-decoration: none; 
    font-size: 20px;
}

/* Banner Styles */
.banner {
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;
}

.banner-content {
    max-width: 585px;
    max-height: 356px;
}

.banner-greetings {
    font-weight: 600;
    font-size: 45px;
}

.banner-title {
    font-size: 85px;
    font-weight: bold;
}

.banner-dp {
    width: 584px;
    height: 676px;
}

